src/__pycache__/
src/__pycache__/robot.cpython-310.pyc
Test/__pycache__/
/.vscode
logs.log
/src/controleur/__pycache__
/src/robots/__pycache__
.DS_Store
src/.DS_Store
results_camera.txt
src/interface3D/__pycache__
src/interface2D/__pycache__
__pycache__/demo.cpython-310.pyc
